<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
  <title>{{ page_title }}</title>
</head>

<body>


<div class="view container">
  <div class="header">

      {% with msg = get_flashed_messages() %}
      {% if msg %}
      <div class="notify">
        {% for m in msg %}
        <p class=flash>{{ m }}</p>
        {% endfor %}
      </div> <!-- END NOTIFY -->
      {% endif %}
    {% endwith %}
    
    <h1>{{ page_title }}</h1>


    <nav class="menu navbar navbar-expand-lg">
    {% block menu %}

    {% for item in main_menu %}
    	<div class=""><a href="{{ item['url'] }}" class="nav-link">{{ item['title'] }}</a></div>
    {% endfor %}

    {% endblock menu %}
    </nav> <!-- END MENU -->


  </div> <!-- END HEADER -->
  
  <div class="content">
  
  {% block main %}
	<p> There is nothing to show you :-( </p>

  {% endblock main %}
  </div> <!-- END CONTENT -->
</div> <!-- END VIEW -->
<div class="col-1-12 hide-on-mobile">
  <!-- right placeholder -->
</div>


<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>


</body>
</html>
