{% extends "base.html" %}

{% block main %}
    <noscript>
        <strong>We're sorry but kanban doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    
		<div id="app"></div>
    <!-- built files will be auto injected -->

<script src="/static/kanban/js/chunk-vendors.ebd89cd6.js"></script>
<script src="/static/kanban/js/app.4805d0e8.js"></script>
<style>
    .kanban-column{min-height:300px}
</style>
{% endblock main %}
