{% extends "base.html" %}

{% block main %}
<h2> Marek Sirovy </h2>

<img src="{{ url_for('static', filename='photo.jpg') }}" id="my_photo" class="float_right">
<p>Born in the middle of europe in small village near capitol city of Czech Republic, than teached by LIFE to be independent and take cate about own future.</p>
<p>Currently Live in Podebrady city, work remotely for more companies as an DevOps/SRE consultant. The biggest carrer higlights are nice time spend in KIWI.com as SRE senior enginer, and as architect and builder of the easycloud, which is platform for delivering applications Easyredmine and Easyproject around the whole world. My current working platforms are AWS, Azure and GCP, K3s, Hashicorp's NOMAD, ELK clusters and Gitlab automatizations.</p>


<i>msirovy@gmail.com</i>




{% endblock main %}
