<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='simplegrid.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <title>{{ page_title }}</title>
</head>

<body class="grid grid-pad">

<div class="col-1-12 hide-on-mobile">
  <!-- left placeholder -->
</div>

<div class="view col-10-12">
  <div class="header">

      {% with msg = get_flashed_messages() %}
      {% if msg %}
      <div class="notify">
        {% for m in msg %}
        <p class=flash>{{ m }}</p>
        {% endfor %}
      </div> <!-- END NOTIFY -->
      {% endif %}
    {% endwith %}
    
    <h1>{{ page_title }}</h1>


    <nav class="menu grid grid-pad">
    {% block menu %}

    {% for item in main_menu %}
    	<div class="col-1-9 push-right"><a href="{{ item['url'] }}">{{ item['title'] }}</a></div>
    {% endfor %}

    {% endblock menu %}
    </nav> <!-- END MENU -->


  </div> <!-- END HEADER -->
  
  <div class="content">
  
  {% block main %}
	<p> There is nothing to show you :-( </p>

  {% endblock main %}
  </div> <!-- END CONTENT -->
</div> <!-- END VIEW -->
<div class="col-1-12 hide-on-mobile">
  <!-- right placeholder -->
</div>

</body>
</html>
