{% extends "base.html" %}

{% block main %}

{% if message != "" %}
<div class="message">
<b>{{message}}</b>
</div>
{% endif %}

<div class="row">

    <div class="col">
        <h3> Login as existing user </h3>
        <form method="POST" action="/users/login">
            <dl>

                <dt class="hide-on-mobile">Email</dt>
                <dd><input type="email" placeholder="username@domain.tld" name="email" /></dd>

                <dt class="hide-on-mobile">Password</dt>
                <dd><input type="password" name="password" /></dd>

            </dl>    
            <input type="submit" value="Login">
        </form>
    </div>


    <div class="col">
        <h3>Or create a new one</h3>
        <form method="POST" action="{{ url_for('users') }}" class="input-group">
            <dl>

                <dt>Email</dt>
                <dd><input type="email" placeholder="username@domain.tld" name="email" /></dd>

                <dt>Password</dt>
                <dd><input type="password" placeholder="10+ characters" name="password" /></dd>

                <dd><input type="hidden" name="group" value="users"></dd>
            
            </dl>    
            <input type="submit" value="Save">
        </form>
    </div>

</div>

{% endblock main %}
