{% extends "base.html" %}

{% block main %}
<h2>Register new user</h2>

{% if message != "" %}
<div class="message">
<b>{{message}}</b>
</div>
{% endif %}

<form method="POST" action="{{ url_for('users_add') }}">
    <dt>
        <dt>Email</dt>
        <dd><input type="email" placeholder="username@domain.tld" name="email" /></dd>
        <dt>Password</dt>
        <dd><input type="password" placeholder="10+ characters" name="password" /></dd>
    </dt>    
    <input type="submit" value="Save">
</form>




{% endblock main %}
